@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Girassol;
    background-image: url(../img/back8.jpg);
    background-size: cover;
    color: rgb(231, 234, 240);
}
form{
    padding: 10px;
    margin-left: 300px;
}
input[type="text"]{
      
    font-size: 25px;
}
