*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(231, 226, 196);
}
h1,h2{
    color: rgb(95, 55, 206);
}
h1{
    font-size: 40px;
    margin-bottom: 20px;

}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}
p{
    text-align: justify;
}
.blog-post{
    
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
  
}
.date{
    position: absolute;
    top: 10px;
    right: 20px;
}
.other-post{
     width: 25%;
    float: left;
}
.author-box{
    border-top: 2px solid #555;
    padding-top: 25px;
    
}
.clearfix:after{
    content: "";
    display:table;
    clear:both;
}
.blog-post img{
    height: 600px;
    width: 700px;
    margin-top: 20px;
}
.author-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}
.main-text{
    text-align: justify;
    margin-bottom: 15px;
}
.author-text{
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}
.other{
    margin-bottom: 10px;
}
.list{
    margin-left: 40px;
}